*.html
*.exec
*.iml
*.log
*~
*.swp
/gradle.properties
/.gradle
/.idea
/build
/out
/obj
/common-net/build
/common-net/out
/common-net/obj
/common-util/build
/common-util/out
/common-util/obj
/common-annotation/build
/common-annotation/out
/common-annotation/obj
/common-tuple/build
/common-tuple/out
/common-tuple/obj